.card-wrapper {
  position: relative;
  overflow: hidden;
  display: flex; /* Correct syntax without quotes */
  flex-wrap: wrap; /* Correct syntax without quotes */
  justify-content: center;
}

.product__hover {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.5s ease-in-out;
}

.card-wrapper:hover .product__hover {
  opacity: 1;
  transform: translate(-50%, -150%) ;
 
}


.product__hover a {
  display: inline-block;
  font-size: 32px; /* Increase font size for larger icons */
  margin: 0 10px;
  background-color: white;
  color: black;
  border-radius: 40%;
  transition: transform 0.5s ease-in-out; /* Add transition for smooth rotation */
}

.product__hover a:hover {
  transform: rotate(240deg); /* Rotate 180 degrees on hover */
}

