.s003-search {
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  background-position: center;
  max-width: 972px;
  padding: 30px;
  margin-left: 180px;
}

.inner-form-search {
  display: flex;
  align-items: center;
  width: 100%;
  white-space: nowrap;
  border: 1px solid rgba(153, 12, 143, 0.7);
  border-radius: 70px;
  cursor: pointer;
  background: white;
  margin-left: 0;
  transition: all 0.2s ease-out, color 0.2s ease-out;
}

.search-results h2 {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.search-results h2 div {
  margin-left: 20px;
}

.btn-search-sh {
  background-color: rgba(153, 12, 143, 0.7);
  color: #fff;
  border: none;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.btn-search-sh:hover {
  background-color: rgba(153, 12, 143, 0.7);
}

.input-select ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.input-select li {
  display: inline-block;
  cursor: pointer;
}

.input-select li:hover {
  text-decoration: underline;
  color: rgba(153, 12, 143, 0.7);
}

.inner-form-search input[type="text"] {
  width: 68%;
  border: none;
  outline: none;
}

.select-option {
  height: 60%;
  width: 120px;
  white-space: wrap;
  outline: none;
  cursor: pointer;
  background: white;
  transition: all 0.2s ease-out, color 0.2s ease-out;
  padding: 20px;
  border: none;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

@media (max-width: 768px) {
  .inner-form-search {
    flex-direction: column;
    align-items: stretch;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .select-option {
    max-width: 100%;
    margin-top: 10px;
  }
}
